/* Projects.module.css */

.experience {
  display: flex;
  flex-direction: column; /* UNA DEBAJO DE OTRA */
  align-items: center; /* CENTRADO HORIZONTAL */
  gap: 2rem; /* ESPACIO ENTRE CARDS */
  padding: 5rem 2rem;
  width: 100%; /* PARA QUE NO SE ROMPA EL LAYOUT */
  background: #e5e7eb;
}
.experience h2 {
  font-size: 2.2rem;
  color: #1f2937;
  margin-bottom: 1rem;
}
.experiences {
  width: 100%;
  max-width: 900px;
}
